
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}
.login-box{
   background-color: white;
    max-width: 450px;
    margin: 50px auto;
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-box h2, 
.login-box form {
    padding: 0 2rem; 
}
.login-box h2 {
    margin: 20px 0;
    text-align: center;
    color: black;
}

.login-box label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button{
    width: 100%;
    padding: 12px;
    background-color: #2a5298;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0;
    transition: 0.3s;
   
}
.login-box button:hover {
    background-color: #1e3c72;
}
.login-box header{
     background: #2a5298;
     color: white;
     text-align: center;
     padding: 2rem;
     gap: 15px;

}
    .login-box nav ul{
        display: flex;
      justify-content: center;
      list-style: none;
      margin-bottom: 20px;
      gap: 15px;
    }


.contenido-derecho {
    display: flex;            
    flex: 1;
    background: #f4f6f9;
}

.seccion-informacion {
    flex: 3;                  
    padding: 2rem;
}

.avisos-rapidos {
    flex: 1;                
    background: #e9ecef;      
    padding: 1.5rem;
    border-left: 1px solid #ddd;
}



.header-institucional {
    background: #2a5298;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

.contenedor-principal {
    display: flex;     
    flex: 1;           
    align-items: stretch; 
}
.seccion-informacion {
    flex: 3;            
    padding: 2rem;
}
.avisos-rapidos {
    flex: 1;           
    background: #e9ecef;
    border-left: 2px solid #ddd;
    padding: 1.5rem;
    min-width: 200px;   
}

.menu {
    background: #1e3c72;
    width: 250px;
    min-height: 100%; 
}

.menu ul {
    list-style: none;
    padding-top: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}


.contenido-derecho {
    flex: 1;          
    padding: 2rem;
    background: #f4f6f9;
}

.boleta-calificaciones {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.footer {
    background: #2a5298;
    color: white;
    text-align: center;
    padding: 1rem;
}